.updatenode__controls {
    position: absolute;
    right: 10px;
    top: 10px;
    z-index: 4;
    font-size: 10px;
  }
  .updatenode__controls label {
    display: block;
  }
  .updatenode__bglabel {
    margin-top: 10px;
  }
  .updatenode__checkboxwrapper {
    margin-top: 10px;
    display: flex;
    align-items: right;
  }
  .dndContainer {
    position: absolute;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 15px;
  }
  .dndflow {
    flex-direction: column;
    display: flex;
    width: 100%;
    height: 100%;
    background-color: #020d1f;
  }
  nav .navbar {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    list-style: none;
  }
  .dndTool {
    background-color: #020d1f;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .dndTool .deleteNode {
    max-width: 100%;
    height: 20%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .dndTool .drag-drop {
    margin-top: 2rem;
    font-size: 10px;
    color:black;
    min-height: 100%;
  }
   .deleteBtn {
    min-height: 1.5rem;
    background-color: #70043c;
    margin: 5px 0;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 30px;
    overflow: hidden;
    color: #05d0e3;
    padding: 0 1rem;
   }
   .element {
    min-width: 100%;
    min-height: 1.5rem;
    background-color: #70043c;
    margin: 5px 0;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 30px;
    overflow: hidden;
    color: #05d0e3;
    padding: 0 1rem;
    white-space: nowrap;
  }
  aside .element {
    cursor: move; 
    cursor: grab;
    cursor: -moz-grab;
    cursor: -webkit-grab;
  }
  .heading {
    font-size: 10px;
    color: #05d0e3;
    overflow: hidden;
    text-align: center;
  }
  .heading:before,
  .heading:after {
    background-color: #05d0e3;
    content: "";
    display: inline-block;
    height: 1px;
    position: relative;
    vertical-align: middle;
    width: 50%;
  }
  .heading:before {
    right: 0.5em;
    margin-left: -50%;
  }
  .heading:after {
    left: 0.5em;
    margin-right: -50%;
  }
  .dndflow .reactflow-wrapper {
    flex-grow: 1;
    height: 100%;
  }
.button {
  width: 70px; 
  background-color: #020d1f;
  color: #05d0e3;
  border: 1px solid #05d0e3; /* Green */
  position: relative;
  box-sizing: content-box;
  border: none;
  color: blue;
  padding: 0px 0px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 10px;
  margin: 0px 0px;
  cursor: pointer;
}
.inputfile {
	width: 0.1px;
	height: 0.1px;
	opacity: 0;
	overflow: hidden;
	position: absolute;
	z-index: -1;
}
.inputfile + label {
  padding: 0 1rem;
  border: 1px solid #05d0e3; 
  border-radius: 5px;
  font-size: 10px;
  color: #05d0e3;
  background-color: #020d1f;
  display: inline-block;
  cursor: pointer;
}
.inputfile:focus + label,
.inputfile + label:hover {
  background-color: #03183a;
}
.inputfile:focus + label {
	outline: 1px dotted #03183a;
	outline: -webkit-focus-ring-color auto 5px;
}
.button1 {
  background-color: #020d1f;
  color: #05d0e3;
  border: 1px solid #05d0e3; /* Green */
  width: 50px; 
  position: relative;
  padding: 0px 0px;
  text-align: center;
  text-decoration: none;
  display: inline;
  font-size: 10px;
  margin: 0px 0px;
  cursor: pointer;
}
.button2 {
  background-color: #020d1f;
  color: #05d0e3;
  border: 1px solid #05d0e3; 
  border-radius: 5px;
  position: relative;
  padding: 0px 0px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 8px;
  margin-right: 0;
  cursor: pointer;
  width: 100%;
}
.node-bg {
    background-color: #0d0e17;
    background-size: 20px 20px;
}
.custom-node {
  position: relative;
  height: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #020d1f !important;
  color: #05d0e3 !important;
  border: 1px solid #05d0e3 !important;
}
.custom-node:hover {
  background-color: #1a192b !important;
  color: #05d0e3 !important;
  border: 1px solid #05d0e3 !important;
}
.customImg-node {
  position: relative;
  min-height: 13rem;
  min-width: 10rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #020d1f !important;
  color: #05d0e3 !important;
  border: 1px solid #05d0e3 !important;
}
.withImg {
  min-height: 18rem !important;
}
.customImg-node:hover {
  background-color: #1a192b !important;
  color: #05d0e3 !important;
  border: 1px solid #05d0e3 !important;
}
.react-flow__edge {
  height: 3rem;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #020d1f !important;
  color: #05d0e3 !important;
  border: 1px solid #05d0e3 !important;
}