.card-wrapper {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    grid-gap: 10px;
    height: calc(100vh - 10px);
  }
  .block {
    height: 25rem;
    max-height: 25rem !important;
    margin-bottom: 5rem;
  }