.coordinates_inputGroup {
        width: 100px;
        height: 25px;

        .coordinates_inputText {
            height: 25px;
        }

        .coordinates_input {
            height: 25px;
        }
    }