.page-content {

    .globalAssetView_container {
        overflow: hidden;


        .mapAction_wrapper {
            height: 60px;
            width: 100%;
        }

        .globalassetview_bottom {
            height: calc(100% - 60px);
            box-sizing: border-box;
        }
    }
}
.tooltipdiv-inner {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 3px 8px;
  }
  /*To the left*/
  .toolTip-gl {
   
    padding: 5px;
    // min-height: 50px;
    // max-height: 50px;
    position: absolute;
    width: 240px;
    text-align: center;
    border: 2px solid rgba(19, 159, 255, 1);
    border-radius: 5px;
    background-color: rgba(30, 49, 74, 0.6);
  }
  .toolTip-gl:before {
    content: "";
    display: block;
    position: absolute;
    left: -7px;
    top: 50%;
    transform: translateY(-50%);
    border-top: 7px solid transparent;
    border-bottom: 7px solid transparent;
    border-right: 7px solid rgba(19, 159, 255, 1);
  }
  
  .con {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 15px;
    color: #ffff;
    // line-height: 50px;
  }