.camera_component {
    min-height: 500px;
   

    .footage_container {
        position: relative; 
        width: max-content;
        height: max-content;

        .footage {
            height: 100%;
        }
    }
}